<!doctype html>
<html ⚡>
<head>
  <meta charset="utf-8">
  <title><%- article.title  %> | <%- siteName %></title>
  <link rel="canonical" href="/articles/<%- article.slug %>"> 
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Arimo:400,700|Noto+Serif:400,700|Open+Sans:400,700&subset=cyrillic" rel="stylesheet">
  <style amp-custom>
    body, a {
      color: #333333;
    }
    #header {
      min-width: 100%;
      width: 100%;
      height: 50px;
      background-color: #333333;
      color: #FFFFFF;
      font-size: 18px;
      text-transform: uppercase;
      text-align: center;
      line-height: 50px;
      letter-spacing: 1px;
      font-family: Open Sans;
    }
    #content {
      padding: 10px 0 0 0;
      max-width: 600px;
      margin: auto;
    }
    #content > h1, #content > h2, #content > p, #content > div {
      padding: 0 18px;
    }
    h1 {
      text-align: center;
      margin: 0.3em 0;
    }
    h1, h2, h3, h4, h5, h6 {
      font-family: Arimo;
    }
    #article_meta {
      text-align: center;
    }
    p, div {
      font-size: 15px;
      font-weight: 400;
      font-family: "Noto Serif";
      line-height: 160%;
    }
    #article_meta span {
      margin: 0 10px;
      font-size: 9px;
    }
    amp-img {
      max-height: 200px;
    }
    amp-img img {
      object-fit: cover;
    }

    .lead, .lead p, .lead div {
      font-size: 18px;
      font-weight: 700;
      font-family: "Arimo";
      line-height: 140%;
    }
    .phrase > p, .phrase > div {
      margin: 40px 35px;
      text-align: center;
      font-size: 13px;
      font-weight: 700;
      font-family: "Arimo";
      line-height: 150%;
    }
    .caption {
      display: block;
      text-align: center;
      color: #7F7F7F;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 1px;
      padding-top: 15px;
      font-family: "Open Sans";
      text-decoration: none;
    }
    a.caption:hover {
      text-decoration: underline;
    }
    blockquote {
      font-size: 15px;
      font-weight: 400;
      font-family: "Noto Serif";
      line-height: 160%;
      position: relative;
      width: calc(100% - 18px * 3);
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 0 0 0 18px;
      border-left: 2px solid #333333;
    }

    blockquote {
      margin: 20px 18px;
      word-wrap: break-word;
    }

    blockquote.personal {
      margin-top: 110px;
    }
    blockquote .image amp-img {
      position: absolute;
      position: absolute;
      top: -80px;
      left: calc(50% - 50px);
      border-radius: 50%;
    }
    blockquote .image amp-img img {
      border-radius: 50%;
    }
    blockquote svg {
      background-size: 36px;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      margin-top: -6px;
      float: left;
      enable-background: new 0 0 44 44;
    }
    .st0{fill:#FFFFFF;}
    .st1{fill:none;}
    .st2{fill:#333333;}
    ul li {
      font-size: 17px;
      font-weight: 400;
      font-family: "Arimo";
      line-height: 160%;
      margin-left: 15px;
      padding-left: 5px;
    }
    

  </style>
  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
 </head>
 <body>
 <div id="header"><%- siteName %></div>
 <div id="content">
  <%if (article.cover) {%>
    <amp-img src="<%- article.cover %>" alt="Welcome" height="200" layout="fixed-height"></amp-img>
  <% } %>
  <h1><%- article.title %></h1>
  <div id="article_meta"><span><a href="<%- baseUrl %>/<%- article.owner.nickname %>"><%- article.owner.first_name %> <%- article.owner.last_name %></a></span><span><%- date %></span></div>

  <%- html %>
  </div>
 </body>

</html>